<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Carona IF</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <header>
        <nav>
            <h1>Carona IF</h1>

            <div>
                <a href="/">Início</a>
                <a href="/caronas/">Caronas</a>
                <a href="/chats/">Chats</a>
                <a href="/avaliacoes/">Avaliações</a>
                <a href="/admin/">Admin</a>
            </div>
        </nav>
    </header>

    <main>

        <section class="principal">

            <h2>Bem-vindo ao Carona IF</h2>

            <p>
                Encontre e compartilhe caronas de forma simples e rápida.
            </p>

            <div class="botoes">
                <a href="/caronas/">Ver Caronas</a>
                <a href="/admin/">Área Administrativa</a>
            </div>

        </section>

    </main>

    <footer>
        <p>Carona IF - Soluções de transporte compartilhado do IFSULDEMINAS Campus Muzambinho</p>
    </footer>

</body>
</html>